div.preloader {
    position: absolute;
    top: 50%;
    left: 50%;
}


div.parent {
    position: relative;
    animation: animation 2s linear infinite;
}

div.circle {
    background-color: #fff;
    position: absolute;
    width: 1em;
    height: 1em;
    border-radius: 100em;
    transform: translate(-50%, -50%);
}

div.circle:nth-child(1) {
    transform: translate(calc(-50% - 1em), -50%);
}

div.circle:nth-child(2) {
    transform: translate(calc(-50% + 1em), -50%);
}

div.circle:nth-child(3) {
    transform: translate(-50%, calc(-50% - 1em));
}

div.circle:nth-child(4) {
    transform: translate(-50%, calc(-50% + 1em));
}


@keyframes animation {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(359deg);
    }
}
